# executables, shared libraries, debug info
*.exe
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.exp
*.ilk
*.lib
*.pdb

# generated S-function source
sfun_fmurun.c

# help files
*.html
html/images/

# re-saved block library
FMIKit_blocks.slx

# MATLAB App Installers
*.mlappinstall

# FMUs
*.fmu

# MATALB and Simulink auto-save files
*.asv
*.autosave

# Java binaries
fmikit.jar
*.class

# CMake installation
cmake-*/

# CMake build directories
build*/
win32/
win64/

# Distribution files
dist/
*.zip

Thumbs.db
